<div *ngIf="error">
  <p class="m-4"><b>Error: </b>{{error}}</p>
</div>

<div *ngIf="!error && isLoaded">
  <div class="row m-0 mt-2" *ngIf="currentQuizCategory != ''">
    <div class="col-auto">
      <label for="selectcategory" class="col-form-label">Select category:</label>
    </div>
    <div class="col-auto">
      <select [(ngModel)]="this.currentQuizCategory" id="selectcategory" class="form-select"
        aria-label="Category selector">
        <option *ngFor="let category of categories" [disabled]="isCategoryLocked(category)" value="{{category}}">
          {{category}}</option>
      </select>
    </div>
  </div>

  <div class="row m-0 mt-2">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">{{title}}</h2>
        <div class="row" *ngIf="currentQuizCategory != ''">
          <div class="col-12 col-md-3 order-md-2 mt-1 mb-1  text-center">
            <button *ngFor="let question of questions; let i = index" (click)="useQuestion(i)"
              class="btn btn-primary m-1 qa-circle">{{i+1}}</button>
          </div>
          <div class="col-12 col-md-9 order-md-1 mt-1 mb-1">
            <qa-question [question]="question" [index]="questionIndex" [disabled]="isCategoryLocked()"></qa-question>
          </div>

        </div>
        <div class="row" *ngIf="currentQuizCategory != ''">
          <div class="col-12 p-3">
            <div class="btn-toolbar">
              <div class="btn-group" role="group" aria-label="next & previous question">
                <button class="btn btn-outline-secondary" (click)="previous()">Previous</button>
                <button class="btn btn-primary" (click)="next()">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="currentQuizCategory == ''">
          <div class="col-12 p-3">
            <p class="bg-light p-3">You submited all categories, press 'Submit all and finish' button.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="row mt-2 mb-2">
        <div class="col-12 p-3 d-flex justify-content-center">
          <div class="btn-toolbar ">
            <div class="btn-group" role="group" aria-label="next & previous question">
              <button (click)="lockCurrentCategory()" *ngIf="currentQuizCategory != ''" class="btn btn-primary">Submit
                page</button>
              <button (click)="submitAll()" class="btn btn-secondary">Submit all and finish</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>