<ng-container *ngIf="error">
  <p class="qa-mb-2"><b>Error: </b>{{error}}</p>
</ng-container>

<ng-container *ngIf="!error && isLoaded && currentQuizCategory != ''">
  <mat-card class="qa-mt-2 qa-mb-2">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Select quiz:</mat-label>
        <mat-select [(value)]="currentQuizCategory" id="selectcategory" (selectionChange)="setCategory($event.value)">
          <mat-option *ngFor="let category of categories" [disabled]="isCategoryLocked(category)" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</ng-container>


<mat-card class="qa-mb-2">
  <mat-card-header>
    <h2>{{title}}</h2>
  </mat-card-header>

  <mat-card-content *ngIf="currentQuizCategory != ''">
    <qa-question [question]="question" [index]="questionIndex"></qa-question>
    <div class="qa-mt-4">
      <mat-label>Navigate questions:</mat-label><br>
      <button mat-flat-button color="warn" *ngFor="let question of questions; let i = index" (click)="selectQuestion(i)"
        class="mat-mini-fab">{{i+1}}</button><br>
      <button mat-flat-button color="accent" (click)="previous()">Previous</button>
      <button mat-flat-button color="primary" (click)="next()">Next</button>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="currentQuizCategory == ''">
    <p>You submitted all categories, press 'Submit all and finish' button.</p>
  </mat-card-content>
  
</mat-card>

<mat-card>
  <mat-card-content>
    <button mat-flat-button color="primary" (click)="lockCurrentCategory()" *ngIf="currentQuizCategory != ''">Submit
      page</button>
    <button mat-flat-button color="warn" (click)="submitAll()">Submit all and finish</button>
  </mat-card-content>
</mat-card>