html,
body {
  height: 100%;
  background-color: #fafafa;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.qa-scores-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qa-scores-line {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  bottom: -7px;
  border-bottom: 1px dotted black;
}

.qa-center {
  display: flex;
  justify-content: center;
}

.qa-m-1 {
  margin: 8px !important;
}

.qa-mb-1 {
  margin-bottom: 8px !important;
}

.qa-mb-2 {
  margin-bottom: 16px !important;
}

.qa-mb-3 {
  margin-bottom: 24px !important;
}

.qa-mb-4 {
  margin-bottom: 32px !important;
}

.qa-mt-1 {
  margin-top: 8px !important;
}

.qa-mt-2 {
  margin-top: 16px !important;
}

.qa-mt-3 {
  margin-top: 24px !important;
}

.qa-mt-4 {
  margin-top: 32px !important;
}

button {
  margin: 8px !important;
}

.mat-radio-label-content {
  white-space: break-spaces !important;
}